<!doctype html>
<html class="no-js" lang="pt-BR">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Seu System</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="assets/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body>
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR TWO PART START ======-->
     
    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                       
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo-orig.png" style="width: 270px" alt="Logo">
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active"><a class="page-scroll" href="index.html">Página inicial</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== NAVBAR TWO PART ENDS ======-->
   
    
    <!--====== FEATURES PART START ======-->

    <section id="solutions" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title mt-5">Assessoramento</h3>
                        <p class="text">Quanto à execução dos projetos e Políticas Públicas Educacionais: 
                            Acompanhamento quanto aos programas ou ações criadas pelo governo nas esferas 
                            estaduais e federais que garantam o acesso à educação com qualidade.</p>

                            <p class="text">Assessoramento aos Conselhos Municipais, Conselhos de Controle Social 
                                (CACS-FUNDEB e CAE) e Conselhos Escolares das Unidades Executoras e Entidade 
                                Executora. Assessoramento quanto ao CENSO ESCOLAR, IDEB E PCCR: Buscar e 
                                promover ações para a melhoria e elevação dos índices do IDEB, Censo Escolar; 
                                Revisão e atualização do PCCR.</p>
                    </div> 
                </div>
            </div> 
        </div> <!-- container -->
    </section>

    <!--====== FEATURES PART ENDS ======-->


    <section id="contact" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h4 class="title">Contato</h4>
                    </div> 
                </div>
            </div> 
            <div class="row justify-content-center mt-45">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>E-mail para orçametos e dúvidas: <b>seusystem@gmail.com</b></p>
                </div>
            </div> 
        </div> 
    </section>
    
    <!--====== FOOTER PART START ======-->

    <section class="footer-area footer-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="footer-logo text-center">
                        <a class="mt-30" href="index.html"><img src="assets/images/logo.png" style="width: 250px" alt="Logo"></a>
                    </div> 
                    <ul class="social text-center mt-60">
                        <li><a href="http://facebook.com/seusystem" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="http://twitter.com/seusystem" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="http://instagram.com/seusystem" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="http://linkedin.com/seusystem" target="_blank"><i class="lni lni-linkedin-original"></i></a></li>
                        <!-- <li><a href="http://api.whatsapp.com/send?1=pt_BR&phone=5591991007676"><i class="lni lni-whatsapp-original"></i></a></li> -->
                    </ul> 
                    <div class="footer-support text-center">
                        <span class="number">(91) 99100-7676</span>
                    </div>
                    <div class="copyright text-center mt-35">
                        <p class="text">&copy; SEUSYSTEM</p>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->    


    <!--====== Jquery js ======-->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="assets/js/ajax-contact.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
    
    
</body>

</html>
